/* general-inheritance */

html, body {
  height: 100%;
}

body{
	font-family: Arial !important;
	display: flex;
  	flex-direction: column;
}

.wrapper-content {
	flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
.header-no-fancy {
	font-size: 24px;
	font-weight: bold;	
}

.equal-height {			/*put to the parent-div if you want all child to flex*/
	display: flex;
}

.row-fluid section {	
	border: 1px solid #2887C8;
	margin: 50px 50px 50px 50px;
	padding: 0 0 20px 0;
}

.default-body-margin {
	margin: 50px 70px 0 70px;
}

.result-separator {
	border-top: 1px solid #ccc;
	margin: 10px 40px 20px 40px;
}

.display-header-margin {
	margin: 0 0 10px 35px;
}

.display-header-title {
	font-size: 20px;
	margin: 0 0 10px 0;
	display: inline-block;
}

.display-payslip {
	font-size: 20px;
	margin: 0 0 10px 20px;
	display: inline-block;
	text-decoration: underline;
}

.navbar-nav li>a:hover{
    color: #fff !important;
    background-color: #757575 !important;
}

.navbar-nav .active > a{
    color: #fff !important;
    background-color: #757575 !important;
}

.inverse-dropdown{
  background-color: #222 !important;
  border-color: #080808 !important;
}

.inverse-dropdown li > a{
    color: #fff !important;
}

.inverse-dropdown li > a:hover{
     color: #fff !important;
     background-color: #757575 !important;
}

.view-group .view-label {
	display: inline-block;
    width: 150px;
    text-align: left;
    font-family: Tahoma;
    font-size: 16px;
}

.view-group .view-block-level {
	 display: inline-block;
	 text-align: right;
	 width: auto;
	 margin: 0 0 10px 0;
	 font-family: Tahoma;
	 font-size: 16px;
}

.label-long {
	width: 250px !important;
}

.label-no-bold {
	font-weight: normal !important;
}

.control-group .control-label {
	display: inline-block;
    width: 100px;
    text-align: right;
    margin: 0 0 0 30px;
}

.control-group .control-block-level {
	 display: inline-block;
	 text-align: left;
	 padding-left: 10px;
	 margin: 0 0 10px 0;
	 width: 180px;
	 height: 30px;
}

.control-group.text-area-block textarea {
	vertical-align: top !important;
	height: 80px;
}

.select-block select{
	 height: 30px;
	 margin: 0 0 10px 0 !important;
}

.control-group .add-on {
	display: inline-block;
    width: auto;
    height: 25px;
    min-width: 16px;
    padding: 2px 5px 2px 5px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
}

/* ends of general styling */

/* login form */

.header-brand {
	margin: 0 auto;
    min-width: 480px;
    min-height: 100px;
    background-color: #000066;
    background: url(../img/login-header.JPG) no-repeat center center / cover transparent;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.container-login {
  min-height: 150px;
  border-radius: 3px;
  border: none !important;
  background-color: transparent;
  padding: 20px;
  margin: 50px;
}

.form-login {
  width: 390px;
  margin-left: 380px;
  position: relative;
}

.form-login .login-body {
	padding: 30px 20px;
	border: 1px solid #C8C8CD;
	background-color: #F9F9F5;
	border-radius: 3px;
}

.form-login .login-footer {
	padding: 30px 20px;
	border: 1px solid 	#C8C8CD;
	background-color: #F9F9F5;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 #fff;
}
.form-group {
	position: relative;
}
.form-group  .form-control {
	padding: 0 0 0 40px;
}
	
.form-group .addon i{
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}

.form-group .login-btn{
	background-color: #000066;
	color: white;
}

.form-group .login-btn:hover {
    color: #fff;
    background: linear-gradient(#3F26BF, #2887C8);
}

.login-body .company-name{
	text-align: center;
	color: #000066;
	font-size: 30px;
	font-weight: bold;
}

/* header-navs */

.user-wrapper {
  background-color: #fff;
  margin: 30px 0 12px 12px;
  min-width: 230px;
  padding: 10px;
  position: relative;
}

.user-image img {
  width: 40px;
  height: 40px;
  margin: 0 8px 0 0;
}

.user .fullname{
	color: #000066;
	font-weight: bold;
}
.navbar {
  background: url(../img/header.JPG) no-repeat center center / cover transparent;
  width: 100%;
  height: auto;
}
.navbar .navbar-inner {
  background-color: transparent;
  background-image: none;
  border: none;
}
.navbar .span6 {
  margin: 0;
}
.navbar-inverse .change-inner {
  background-image: none;
  background-color: #080808;
/*   background: linear-gradient(#808080, #080808); */
  border: none;
}

/* dashboard-body section */

.dashboard-body {
	margin: 50px 0 0 0;
}

.dashboard-body .row {
	margin: 0 0 0 10px;
}

.first-col {
	  border: 1px solid #f4f4f4;
	  margin: 0 0 20px 50px;
}

.second-col {
	  border: 1px solid #f4f4f4;
	   margin: 0 50px 20px 0;
}

.holiday-icon {
	background: linear-gradient(#3F26BF, #2887C8);
}

.credits-icon {
	background: linear-gradient(#3F26BF, #2887C8);
}

.holiday-icon img {
  	width: 100px;
  	height: 140px;
  	margin: 20px 10px 10px 10px;
}

.credits-icon img {
  	width: 100px;
  	height: 140px;
  	margin: 20px 10px 10px 10px;
}

.credits-row {
	width: 100%;
}
.divider {
    display: inline-block;
    height: 60px;
    width: 1px;
    background-color: #2b2b2b;
    margin: 0px 30px;
}
.credits-details .vl, .credits-details .sl {
    display: inline-block;
}

.holiday-dtls {
    margin-top: 25px;
    text-align: left;
}
.holiday-dtls .date {
    display: inline-block;
}
.holiday-dtls .type {
    display: inline-block;
    text-align: left;
}

.holiday-dtls .holiday-row .date h3{
    font-size: 40px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #2b2b2b;
}

.holiday-row{
    padding: 0px 15px;
}

p.holiday {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
}

p.holiday-type {
    margin-bottom: 0px;
    color: black;
    letter-spacing: 1px;
}

.cat-title p {
	font-weight: bold;
	font-size: 26px;
}

.holiday-content, .credits-content {
    text-align: center;
	height: auto;
    background-color: #f4f4f4;
    padding: 10px 10px 10px 10px; 
}


/* timesheets-searchbox */

.section-title h4{
	margin: 0 0 20px 0;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	color: white;
	background: linear-gradient( #3F26BF, #2887C8);
}
.button-section {
	padding-left: 100px;
	display: inline-block;
	text-align: left;
}

.search-box .form-group .search-label {
	display: inline-block;
    width: 100px;
    text-align: right;
}
.search-box .form-group .search-key {
	 display: inline-block;
	 text-align: left;
	 padding-left: 10px;
	 margin: 0;
	 width: 150px;
}

.search-box .form-group .add-on {
    display: inline-block;
    width: auto;
    height: 25px;
    min-width: 16px;
    padding: 2px 5px 2px 5px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
}

/* timesheets-results */

.search-results {
	margin: 0px 50px 0 50px;
}

.results-table table thead {
 	background: linear-gradient(#3F26BF, #2887C8);
}

.results-table table thead tr th {
	color: #fff;	
}

.table-results {
	border: 1px solid #e1efff;
}

.results-pagination {
  text-align: center;
}

/* timesheets-details */

.result-item.weekend {
	background-color: #e6f2ff !important;
}

/* leave-request */

.request-area {
	margin: 0 0 0 50px;
}


/* Profile-Account */

.profile-photo img {
  width: 200px;
  height: 200px;
  margin: 20px 0 0 80px;
  border: 3px solid #3F26BF;
}

.profile-separator {
	border-top: 1px solid #3F26BF;
	margin: 10px 40px 20px 370px;
}

.profile-section {
	padding: 0 0 50px 0 !important;
	background-color: #E0E0E0;
}

/* Payslip Details */

.personal-data .title-head,
	.summary-pay .title-head,
		.deductions .title-head,
		 	.net-pay .title-head{
	font-size: 20px;
	margin: -10px 0 10px 50px;
	font-weight: bold;
}

.personal-data .details,
	.summary-pay .details,
		.deductions .details,
			.net-pay .details{
	margin: 0 0 0 50px;
}

.overtime-table {
	margin: -20px 30px 0 50px;
}

.total-highlight {
	background-color: #E0E0E0;
	padding: 10px 0 0 0;
	margin: 0 30px 0 0;
}

.section-title-not-bordered { 
	margin: 10px 10px 10px 50px;
	font-size: 26px;
	font-family: Georgia;
}


/* Library */

/* Income Tax */

/* start - vertically-center the modal */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* end - vertically-center the modal */

.modal-body-delete{
	padding: 15px;
}

.modal-title-delete{
	font-size: 24px;
	color: #a94442;
}

.modal-title-update{
	font-size: 24px;
	color: #8a6d3b;
}

.delete-icon {
	margin: 0 0 0 10px;
}

.add-income-button {
	margin-right: 50px;
}

.add-income-title {
	color: #000080;
}







